useDynLib(grpreg, .registration=TRUE)
export(grpreg, cv.grpreg, select, gBridge)
S3method(select,grpreg)
importFrom(graphics,plot)
S3method(plot,grpreg)
S3method(plot,cv.grpreg)
importFrom(stats,predict)
S3method(predict,grpreg)
importFrom(stats,coef)
S3method(coef,grpreg)
importFrom(stats,logLik)
S3method(logLik,grpreg)
